extend ./layout/default
block link
block title
    title #{title}
block main-content
    div.homepagetitle
        | 这里是
        a.homepagename(href="/u/#{name}") #{name}
        | 的主页
    div
        each post in posts
            div.article_title: a(href="/u/#{post.author}/post/#{post._id}")=post.title
            div.article_summary: p=post.summary





    div(style="height:100em" name="zhandifang")
block script
